{% extends "base.html" %}

{% block content %}
    <h1><strong>List of Products</strong></h1>
    <br>
    {% if product_list %}
    <ul>
      {% for product in product_list %}
      <div class="productname" style="height:150px; border: 2px solid gray; margin:-2 0 0 12%">
        <a href="{% url 'product_detail' product.id %}">
          <p style="margin:10 0 0 10"><strong>{{ product.name|capfirst}}</strong> - ${{ product.price}}</p>
		  <img src="{{ product.image.url }}" width="80" height="80" style="margin-left: 90%">
        </a>
      </div>
      {% endfor %}
      <br>
    </ul>
    {% else %}
      <p>There are no products to display.</p>
    {% endif %}
{% endblock %}
